@import url(cadastro.css);
@import url(estoque.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: black !important;
}

body {
    overflow-y: hidden
}